
<div class="chart-container" >

	<canvas id="myChart"></canvas>
	<button id="btnChart" type="button" class="btn btn-info center-block">Dừng lấy dữ liệu</button>

</div>


<script src="chartnoliene.js"></script>

